<html data-ng-app="CleanStack">
  <head>
    <title>Clean Angular Stack</title>
  </head>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-theme.min.css" />

  <body data-ng-controller="CleanStackController as vm">
    
    <div class="container">
      <h1>Clean Angular Stack</h1>
      <label>Past the stack wich is painful to read and find something useful</label>
      <div class="form-group" data-ng-form="formInputTextArea">
        <textarea type="text" class="form-control" rows="20" data-ng-model="vm.rawStack"></textarea>
      </div>
      
      <button type="button" class="btn btn-success" data-ng-click="vm.process()">Process</button>
      
      <div data-ng-if="vm.processedStack">
        <label>And result is...</label>
        <div class="form-group" data-ng-form="formInputTextArea">
          <textarea type="text" class="form-control" rows="20" data-ng-model="vm.processedStack"></textarea>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- bower:js -->
<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/bootstrap.js"></script>
<!-- endbower -->

<script src="script.js"></script>